.wy-nav-side {
	background: #182b3a;
}
.wy-side-nav-search {
	background-color: #bc1439;
}

.wy-menu-vertical a:hover {
	background: #1e3d55;
}

.wy-nav-content a {
	color: #bc1439;
}
.wy-nav-content a:hover {
	color: #bc1439;
	text-decoration: underline;
}

.wy-nav-content a:visited {
	color: #a55b6d;
}

.admonition {
	border: 1px solid transparent;
	position: relative;
	padding: .75rem 1.25rem .75rem 3rem;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
}
.admonition.note {
	color: #182b3a;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}
.admonition.note .admonition-title {
	background: #182b3a;
	color: #d1ecf1;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt:first-child, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt:first-child {
	background: #d1ecf1;
	color: #182b3a;
	border-top-color: #182b3a;
}